.drones-wrapper {
  margin: 0 59px;
}

#profile-pic img {
  border: 8px solid #ffffff;
}

.light-grey-bottom-border {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.profile-field-info {
  padding: 10px 0;
}

#name-header {
  margin-top: 0px;
  color: $drone-finder-color;
  text-align: left;
  margin-left: 70px;
  font-size: 30px;
}

.link-btn-sm {
  text-decoration: none;
}
.link-btn-sm:hover {
  text-decoration: none;
  opacity: 0.7
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

table#profileForm1 tr {
  th, td {
    border: none;
  }
}

#profileForm1 {
  padding: 15px;
  border: 1px solid $drone-finder-color;
  border-radius: 5px;
}

.width-100 {
  width: 100%;
}


#userBookings .content {
  opacity: 0.7;
}
#profileWrapper {
  height: 500px;
  margin-top: 50px;
}

.user-bookings-wrapper {
  margin: 0 59px;
}


