
<form action="/drones" class="form-inline">
  <div class="banner-form-styling">
    <div class="col-xs-12 col-md-4 form-group">
      <input type="text" name="address", placeholder="Address" class="form-control" id="adress-input">
    </div>
    <div class="col-xs-12 col-md-6 input-daterange input-group" id="datepicker">
    <input type="text" class="input form-control" name="start" placeholder="start">
      <span class="input-group-addon">to</span>
      <input type="text" class="input form-control" name="end" placeholder="end">
    </div>
    <button type="submit" class="btn btn-primary">Find Drone</button>
  </div>
</form>


