
<form action="/drones" class="form-inline">
  <div class="banner-form-styling">
    <div class="row">
      <div class="col-xs-12 col-md-2 col-md-offset-2 form-group text-right">
        <input type="text" name="address", placeholder="Address" class="form-control banner-form-field-input" id="adress-input">
      </div>
      <div class="col-xs-12 col-md-4 text-left">
        <div class="input-daterange input-group form-group banner-form-field-input" id="datepicker">
          <input type="text" class="input form-control" name="start" placeholder="start">
          <span class="input-group-addon">to</span>
          <input type="text" class="input form-control" name="end" placeholder="end">
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
      <button type="submit" class="btn btn-primary banner-form-field-input">Find Drone</button>
      </div>
    </div>
  </div>
</form>

