<%= video_tag(["clouds.mp4"], :size => "900x500", :autoplay => true, :loop => true) %>

<div class="vhome-banner">
  <div class="container">
    <div class="row">
      <h1>DRONE FINDER</h1>
    </div>
    <div class="row">
      <div class="screen">
        <h3>Rent a drone near you</h3>
      </div>
    </div>
      <%= render 'pages/search-form-home' %>
  </div>
</div>

