.banner {
  color: white;
  text-align: center;
  height: calc(80vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.container-banner {
  background-size: cover;
}

a#call-to-action-btn {
    color: white;
    background-color: #469AE0;
    padding: 6px 11px;
    border-radius: 3px;
    &:hover {
      text-decoration: none;
    }
}
