.btn-width-to-fit {
  width: 100%;
}

.banner-form-field-input {
  width: 100% !important;
  button {
    background-color: #d5ff45 !important;
  }
}

.form-control {
  background-color: rgba(250,250,250,0.9);

}

span.input-group-addon {
  background-color: rgba(250,250,250,0.9);
}
