
video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 // min-height: 100%;
 width: auto;
 height: 110vh;
 transform: translate(-50%, -50%);
}

.styled-video-container {
  background-color: rgba(0,0,0,0.2);
  width: 100vw;
  height: 100vh;
  margin-top: -45px;
}

.vhome-banner {
  height: 75vh;
  text-align: center;
  margin: 0 auto;
}
.vhome-banner h1 {
  font-size: 90px;
  font-weight: lighter;
  z-index: 2;
  padding: 100px 0px 10px 0px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.15);
  color: $drone-finder-color;
  margin: 0px;
}

.vhome-banner h3 {
  font-size: 31px;
  color: white;
  font-weight: lighter;
  margin: 0px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.vhome-banner .screen {
  margin-top: 100px;
  text-align: center;
  padding: 0 0 10px 0px;
}

button.btn.btn-primary.banner-form-field-input {
  background-color: $drone-finder-color;
  border: 3px solid $drone-finder-color;
  color: white;
}
